       @font-face {
           font-family: "appleFont";
           src: url('./font/appleFont.eot');
       }
       
       #text2 {}
       
       #text2 .title,
       #text2 .subtitle {
           position: absolute;
           left: 100px;
       }
       
       #text2 .title {
           z-index: 1;
           font-size: 150px;
           top: 0;
           font-family: "appleFont" , "微软雅黑" !important;
       }
       
       #text2 .subtitle {
           z-index: 1;
           font-size: 50px;
           top: 40%;
           text-align: left;
           font-family: 'youyuan', "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
           text-align: center;
           width: 100%;
       }