@font-face {
    font-family: "Titillium";
    src: url(../font/titillium-light-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: "Microsoft YaHei", " 微软雅黑 ", Arial, sans-serif;
    background-color: #3F3F3F;
}

a {
    text-decoration: none;
    color: #F1EEE8;
}

h4 {
    display: none;
}

#tabs {
    width: 550px;
    margin: 40px auto 50px;
    box-shadow: #282828 0px 0px 40px;
    -webkit-box-shadow: #282828 0px 0px 40px;
    -moz-box-shadow: #282828 0px 0px 40px;
    position: relative;
}

.idTabs li {
    cursor: pointer
}

.idTabs span {
    position: absolute;
    right: 0px;
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: transform 1s;
}

.idTabs span:hover {
    transform: rotate(1440deg);
}

#shuoming {
    position: absolute;
    background-color: rgb(63, 63, 63);
    box-shadow: #282828 1px 1px 1px;
    height: 16px;
    padding: 3px;
    right: 0;
    z-index: 99;
    font-size: 8px;
    color: white;
    display: none
}

.idTabs li {
    display: inline-block;
    width: 80px;
    height: 0px;
    line-height: 30px;
    text-align: center;
    font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", Corbel, "Trebuchet Ms", sans-serif;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: 0 -10px;
    position: relative;
}

.idTabs li a {
    color: white;
}

.idTabs li:nth-child(1) {
    border-bottom: 30px solid RGB(255, 66, 93);
    margin-left: 0px;
    z-index: 4;
}

.idTabs li:nth-child(2) {
    border-bottom: 30px solid RGB(92, 167, 186);
    z-index: 3;
}

.idTabs li:nth-child(3) {
    border-bottom: 30px solid RGB(133, 211, 250);
    z-index: 2;
}

.idTabs li:nth-child(4) {
    border-bottom: 30px solid RGB(127, 233, 222);
    z-index: 1;
}

#strip {
    display: block;
    height: 4px!important;
    background: pink;
    width: 550px;
    margin: 0 auto;
}

#strip2 {
    display: block;
    height: 4px!important;
    width: 550px;
    background-color: #F1EEE8;
    position: absolute;
    top: 30px;
    z-index: -1;
}

#allDemo,
#htmlDemo,
#jsDemo,
#otherDemo {
    /*                border-top: 4px solid #F1EEE8;*/
    background-color: #F1EEE8;
    width: 550px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.demo {
    display: none;
}

#All {
    display: block;
}

.info {
    width: 450px;
    margin: 10px auto;
    list-style: none;
    box-shadow: #282828 1px 1px 1px;
    -webkit-box-shadow: #282828 1px 1px 1px;
    -moz-box-shadow: #282828 1px 1px 1px;
}

.info div {
    display: table-cell;
    padding: 5px;
    height: 50px;
}

.info .infoLeft {
    font-weight: bold;
    font-size: 1.1em;
    width: 150px;
    text-align: center;
    background-color: #3EB69F;
    vertical-align: middle;
}

.info .infoRight {
    width: 300px;
    background-color: #5DC3B0;
}

.info .infoRight .demoInfo {
    color: #6B6B6B;
    font-size: 95%;
}

.info .infoRight .demoGuest {
    font-size: 80%;
    margin-top: 10px;
    font-family: "Titillium", "Microsoft YaHei", " 微软雅黑 ", Arial, sans-serif;
    font-style: italic;
    color: #D4D4D4;
}