@media screen and (min-height:719px) and (max-height:721px) {
    #fullPageBtn {
        display: none !important;
    }
}

@media screen and (min-height:1079px) and (max-height:1081px) {
    #fullPageBtn {
        display: none !important;
    }
}


@media screen and (max-height:800px) {
    html {
        zoom:0.67;
    }
    #cloudText #cloudText_cont {
        zoom:1.5;
    }
}

/*

.textEwmFirstRight {
    float: right;
    width: 1px;
}

.textEwmFiller {
    height: 10px;
    float: right;
    clear: right;
    width: 210px;
}

.textEwmSecondRight {
    float: right;
    clear: right;
    width: 200px;
    margin-left: 30px;
    margin-right: 100px;
    border: 10px solid #fff;
    background-color: #fff;
}

.textEwmclear {
    clear: both;
    height: 0px;
    line-height: 0px;
}*/
