* {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html,body {
    min-height: 300%;
}

.page-header h1 {
    display: inline-block;
}

.title label {
    font-weight: normal;
    !important font-size: 40px;
    !important
}

.row {
    margin-bottom: 10px;
}

.glyphicon {
    cursor: pointer;
}

.input-group-addon:hover {
    background-color: #DFF0D8;
    color: #2B542C;
    cursor: pointer;
}

#food tbody tr:nth-child(odd) {
    background: #eee;
}


/*套餐*/
#package th {
    background-color: #eee;
}
#package tbody>.detail-view>td{
    padding-left: 30px;
    padding-right: 100px;
}

.SortPkHide {
    display: none;
}

.removeBtn {
    color: red;
}
.removeBtn:hover, .removeBtn:focus{
    color: #DF5647;
}


/*        ***********************/

#alertDiv {
    position: fixed;
    top: 20px;
    right: 20px;
    word-break: keep-all;
    z-index: 99999;
}

#alertDiv p{
    padding-right: 30px;
}

#orderPic {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#orderPic img {
    max-width: 80%;
}

.config label {
    width: 100%;
    line-height: 22px;
}

.config label span {
    float: right;
}

.picText {
    position: absolute;
    width: 60%;
    margin: 0 20%;
    background-color: #fff;
    user-select: none;
    cursor: default;
}

.ReceiptTitle {
    top: 20px;
    font-size: 30px;
}
.ReceiptSubTitle{
    font-size: 16px;
    top: 120px;
}
.ReceiptActivity {
    bottom: 20px;
}

.ReceiptExtra {
    bottom: 70px;
}




/*************tool*********************/

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    background-color: #EEEEEE;
    cursor: not-allowed;
}