@font-face {
    font-family: 'icomoon';
    src: url('../icomoon.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
}
*::-moz-selection{
    color: white;
}
*::selection{
    color: white;
}
html {
    height: 100%;
}

body {
    height: 100%;
    /*  background-color: #141219;*/
    -webkit-transition: 1s;
    transition: 1s;
}

#ctl {
    position: relative;
    top: 3%;
}

#ctl>div {
    display: inline-block;
}
#ryWrap {
    position: relative;
    left: 2%;
    overflow: hidden;
    width: 80px;
    height: 44px;
}
#ry {
    margin: 0 auto;
    width: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#ry div{
    overflow: hidden;
    margin: 2px;   
    width: 40px;
    height: 40px;
}

#ry #sun:hover {
    border-radius: 20px;
    background-color: #FFB639;
}
#ry #moon:hover {
    border-radius: 20px;
    background-color: #ccc;
}
#ss {
    position: absolute;
    top: 3%;
    right: 2%;
}

#switch {
    width: 75px;
    height: 40px;
}

.toggle {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #444249;
    border-radius: 20px;
    background-color: #141219;
    -webkit-transition: border-color .6s ease-out;
    transition: border-color .6s ease-out;
}

.toggle.toggle-on {
    border-color: rgba(137, 194, 217, .4);
    background-color: white;
    -webkit-transition: all .5s .15s ease-out;
    transition: all .5s .15s ease-out;
}

.toggle-button {
    position: absolute;
    top: 4px;
    right: 39px;
    bottom: 4px;
    width: 28px;
    border-radius: 19px;
    background-color: #444249;
    cursor: pointer;
    -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
    transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button {
    top: 3px;
    right: 3px;
    bottom: 3px;
    width: 65px;
    border-radius: 23px;
    background-color: #89c2da;
    box-shadow: 0 0 16px #4b7a8d;
    -webkit-transition: all .2s .1s, right .1s;
    transition: all .2s .1s, right .1s;
}

.toggle-text-on {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    line-height: 36px;
    cursor: pointer;
}

.toggle-on .toggle-text-on {
    /*    color: #3b6a7d;*/
    color: white;
    -webkit-transition: color .3s .15s;
    transition: color .3s .15s;
}

.toggle-text-off {
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 0;
    color: #444249;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    line-height: 36px;
    cursor: pointer;
}

.toggle-on .toggle-text-off {
    color: rgba(0, 0, 0, 0);
}


/* used for streak effect */

.glow-comp {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, .1);
    box-shadow: 0 0 12px rgba(75, 122, 141, .2);
    opacity: 0;
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#mode {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

#mode span {
    display: inline-block;
    padding: 10px;
    width: 20px;
    height: 18px;
    background-color: rgb(185, 217, 245);
    box-shadow: 1px 2px 2px rgb(148, 191, 228);
    color: white;
	text-align: center;
	font-family: "icomoon";
    line-height: 18px;
    cursor: pointer;
}

#mode .sele {
    height: 20px;
    background-color: rgb(148, 191, 228);
    box-shadow: 1px 2px 2px rgb(122, 167, 208) inset;
}

#dateInput {
    position: relative;
    display: none;
    font-size: 10px;
    font-family: 'Tahoma';
    line-height: 20px;
/*    border-bottom-left-radius: 20px;*/    
}
#dateInput>div {
	display: inline-block;
	overflow: hidden;
	margin: 3px auto;
    padding-left: 1px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(185, 217, 245);
    vertical-align: middle;
}
#dateInput>div>* {
    float: left;
    margin: 0 5px;
    color: white;
}


#dateInput .info {
    display: block;
    margin: 0 auto;
    width: 200px;
    color: rgb(122, 167, 208);
    text-align: center;
    font-family: 'Tahoma','微软雅黑';
}
#dateInput i {
    margin: 0;
    padding: 0 5px 0 5px;
    height: 20px;
    border: 0;
    border-left: 1px solid rgb(122, 167, 208);
/*    background-color: rgb(122, 167, 208);*/
    box-shadow: 0 0 0 white;
    text-shadow: 1px 1px 1px rgb(122, 167, 208);   
    font-style: normal;
    line-height: 20px;
    cursor: pointer;
}

#dateInput i::-moz-selection{
    color: white;
}

#dateInput i::selection{
    color: white;
}

#dateInput i:hover {
    color: #eee;
}
#dateInput .goWorry{
    color: #eee;
    cursor: default;
}

#dateInput input {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    width: 30px;
    height: 18px;
    outline: 0;
    border: 0;
    background-color: rgb(148, 191, 228);
    box-shadow: 1px 2px 2px rgb(122, 167, 208) inset;
    color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 20px;
}

#dateInput .focus{
    color: white;
}
#dateInput .worry{
    color: #FF4444;
}
#dateInput label {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
#dateInput #year {
    width: 1px;
    font-size: 4px;
}

#dateInput .year {
    font-size: 14px;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

#dateInput .year:hover {
    color: rgb(122, 167, 208)
}

#dateInput .xz {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#dateInput input[type="checkbox"] {
    display: none;
    box-shadow: 0 0 0;
}

#dateInput .btn {
    position: relative;
    margin: 3px 0 0 3px;
    margin-right: 2px;
    width: 14px;
    height: 14px;
    border-right: 1px solid rgb(122, 167, 208) ;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
}

#dateInput .btn label {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: rgb(148, 191, 228);
    box-shadow: inset 0px 1px 3px rgba(122, 167, 208, 0.5);
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#dateInput>div input[type=checkbox]:checked + label {
    background-color: #FF4444;
}